@use "variables" as *;

.calc-buttons {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-auto-rows: 4rem;
  grid-template-areas: 
    ".      mc      ac          c"
    "ms     m-plus  square-root divide"
    "mr     m-minus percent     multiply"
    "seven  eight   nine        subtract"
    "four   five    six         add"
    "one    two     three       equal"
    "sign   zero    decimal     equal";
  gap: 0.25rem;

  button {
    position: relative;
    font-family: $monospace-font;
    font-size: 1.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: $main-light;
    border-bottom: 0.25rem solid rgba($main-dark, 0.3);
    color: $white;

    &:hover {
      filter: brightness(0.8) saturate(1.25);
    }

    &:not(.number, .sign, .decimal) {
      background-color: $main;
    }

    &.equal {
      background-color: $accent;
    }
  }
}