@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

// Colors
$main-very-light: #8d8fb6;
$main-light: #595B83;
$main: #333456;
$main-dark: #111333;
$accent: #da7799;
$white: #FFFFFF;

// Fonts
$font-family: "Incosolata", monospace;