// @import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Inconsolata&display=swap');

// Colors
$main-very-light: #a6a8ca;
$main-light: #595B83;
$main: #333456;
$main-dark: #111333;
$accent: #da7799;
$white: #FFFFFF;

// Fonts
$monospace-font: "Incosolata", monospace;
$san-serif-font: "Barlow", san-serif