@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

:root {
    --main-light: #595B83;
    --main: #333456;
    --main-dark: #060930;
    --accent: #F4ABC4;
    --white: #FFFFFF;
    --font-family: "Incosolata", monospace;
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--font-family);
}

.calculator {
    background-color: var(--main-dark);
    padding: 1rem;
    max-width: 25rem;
    border-radius: 1rem;
}

.button-controls {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 4rem;
    grid-template-areas: 
        ".      mc      ac          c"
        "ms     m-plus  square-root divide"
        "mr     m-minus percent     multiply"
        "seven  eight   nine        subtract"
        "four   five    six         add"
        "one    two     three       equal"
        "sign   zero    decimal     equal";
    gap: 0.25rem;
}

.button-controls button {
    font-family: var(--font-family);
    font-size: 1.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--main-light);
    color: var(--white);
}

.button-controls button:not(.number, .sign, .decimal) {
    background-color: var(--main);
}

.button-controls button.equal {
    background-color: var(--accent);
}